<ion-content>

  <ion-grid class="grid1">

      <ion-row class="row1">
          <ion-col>
            <ion-col class="img-container">
              <img src="assets/img/logo.png">
            </ion-col>
          </ion-col>
      </ion-row>

      <ion-row class="row2">
          <ion-col>

          </ion-col>
      </ion-row>

  </ion-grid>

  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Servicios</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>

                        <ion-item>
                          <ion-label>Mantencion General</ion-label>
                          <ion-select placeholder="Seleccione Una">
                            <ion-select-option value="M">Motor</ion-select-option>
                            <ion-select-option value="SE">Sistema Electrico</ion-select-option>
                            <ion-select-option value="N">Neumaticos</ion-select-option>
                            <ion-select-option value="L">Luces</ion-select-option>
                            <ion-select-option value="NA">Niveles Aceite</ion-select-option>
                            <ion-select-option value="F">Frenos</ion-select-option>
                          </ion-select>
                        </ion-item>
                          <br />
                          <ion-item>
                            <ion-label>Taller Movil</ion-label>
                            <ion-select placeholder="Select One">
                              <ion-select-option value="f">Basica</ion-select-option>
                              <ion-select-option value="m">Completa</ion-select-option>
                            </ion-select>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-label>Mecanica General</ion-label>
                            <ion-select placeholder="Select One">
                              <ion-select-option value="f">Basica</ion-select-option>
                              <ion-select-option value="m">Completa</ion-select-option>
                            </ion-select>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-label>Cambio Aceite y Filtros</ion-label>
                            <ion-select placeholder="Select One">
                              <ion-select-option value="f">Basica</ion-select-option>
                              <ion-select-option value="m">Completa</ion-select-option>
                            </ion-select>
                          </ion-item>
                          <br>
                     </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button routerLink="" color="dark" type="submit" fill="solid" expand="full">
                        Continuar
                    </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
    </ion-slide>


