<ion-content>

  <ion-grid class="grid1">

      <ion-row class="row1">
          <ion-col>
            <ion-col class="img-container">
              <img src="assets/img/logo.png">
            </ion-col>
          </ion-col>
      </ion-row>

      <ion-row class="row2">
          <ion-col>

          </ion-col>
      </ion-row>

  </ion-grid>

  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Servicios</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>

                        <ion-item>
                          <ion-label>Mantencion General</ion-label>
                          <ion-select placeholder="Seleccione Una Opciòn">
                            <ion-select-option value="M">Motor</ion-select-option>
                            <ion-select-option value="SE">Sistema Electrico</ion-select-option>
                            <ion-select-option value="N">Neumaticos</ion-select-option>
                            <ion-select-option value="L">Luces</ion-select-option>
                            <ion-select-option value="NA">Niveles Aceite</ion-select-option>
                            <ion-select-option value="F">Frenos</ion-select-option>
                          </ion-select>
                        </ion-item>
                          <br />
                          <ion-item>
                            <ion-label>Taller Movil</ion-label>
                            <ion-select placeholder="Seleccione Una Opciòn">
                              <ion-select-option value="f">Domicilio</ion-select-option>
                              <ion-select-option value="m">Punto de Encuentro</ion-select-option>
                              <ion-select-option value="f">Rural</ion-select-option>
                            </ion-select>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-label>Mecanica General</ion-label>
                            <ion-select placeholder="Seleccione Una Opciòn">
                              <ion-select-option value="MI">Mecanica Intengral</ion-select-option>
                              <ion-select-option value="CR">Cambio de Repuestos</ion-select-option>
                              <ion-select-option value="CP">Cambio Pastillas</ion-select-option>
                              <ion-select-option value="CN">Cambio Neumaticos</ion-select-option>
                            </ion-select>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-label>Cambio Aceite y Filtros</ion-label>
                            <ion-select placeholder="Seleccione Una Opciòn">
                              <ion-select-option value="SHU">Shell Helix Ultra Pro AG 5W-30</ion-select-option>
                              <ion-select-option value="SHH">Shell Helix HX8 Pro AG 5W-30</ion-select-option>
                              <ion-select-option value="SHHX">Shell Helix HX7 SN 10W-40</ion-select-option>
                              <ion-select-option value="FA">Filtro Aceite</ion-select-option>
                              <ion-select-option value="FA">Filtro Aire</ion-select-option>
                              <ion-select-option value="FB">Filtro bencina</ion-select-option>
                            </ion-select>
                          </ion-item>
                          <br>
                     </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button routerLink="" color="dark" type="submit" fill="solid" expand="full">
                        Continuar
                    </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
    </ion-slide>


