<ion-content>

  <ion-grid class="grid1">

    <ion-row class="row1">
      <ion-col>

      </ion-col>
    </ion-row>

    <ion-row class="row2">
      <ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-slide>
    <div class="contaier-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Recuperar Contraseña</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-text>
                  Introduzca la dirección de correo electrónico indicada al crear la cuenta
                </ion-text>
              </ion-item>
              <br>
              <ion-item>
                <ion-icon color="dark" name="mail-outline" class="icon-login"></ion-icon>
                <ion-input name="email" type="email" required placeholder="Correo Electrónico"></ion-input>
              </ion-item>
              <br>

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button routerLink="/login" color="dark" type="submit" fill="solid" expand="full">
              Continuar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>
