<ion-content>

  <ion-grid class="grid1">

      <ion-row class="row1">
          <ion-col>

          </ion-col>
      </ion-row>

      <ion-row class="row2">
          <ion-col>

          </ion-col>
      </ion-row>

  </ion-grid>

  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Registro</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>

                          <ion-item>
                            <ion-icon color="dark" name="person-add-outline" class="icon-login"></ion-icon>
                              <ion-input name="user" type="text" required placeholder="Nombre de Usuario"></ion-input>
                          </ion-item>
                          <br />
                          <ion-item>
                            <ion-icon color="dark" name="mail-outline" class="icon-login"></ion-icon>
                              <ion-input name="email" type="email" required placeholder="Correo Electronico"></ion-input>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-icon color="dark" name="call-outline" class="icon-login"></ion-icon>
                              <ion-input name="password" type="password" required placeholder="Telefono"></ion-input>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-icon color="dark" name="lock-closed-sharp" class="icon-login"></ion-icon>
                            <ion-input name="password" type="password" required placeholder="Contraseña"></ion-input>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-icon color="dark" name="lock-closed-sharp" class="icon-login"></ion-icon>
                            <ion-input name="password" type="password" required placeholder="Confirmar Contraseña"></ion-input>
                          </ion-item>
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button color="dark" type="submit" fill="solid" expand="full">
                        Registrar
                    </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
    </ion-slide>

