<ion-content>

  <ion-grid class="grid1">

      <ion-row class="row1">
          <ion-col>
            <ion-col class="img-container">
              <img src="assets/img/logo.png">
            </ion-col>
          </ion-col>
      </ion-row>

      <ion-row class="row2">
          <ion-col>

          </ion-col>
      </ion-row>

  </ion-grid>

  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Registro</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>

                          <ion-item>
                            <ion-icon color="dark" name="person-add-outline" class="icon-login"></ion-icon>
                              <ion-input   type="text" required placeholder="Nombre de Usuario"  #txtUser></ion-input>
                          </ion-item>
                          <br />
                          <ion-item>
                            <ion-icon color="dark" name="mail-outline" class="icon-login"></ion-icon>
                              <ion-input  type="text" required placeholder="Correo Electrónico" #txtCorreo ></ion-input>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-icon color="dark" name="call-outline" class="icon-login"></ion-icon>
                              <ion-input  type="text" required placeholder="Teléfono (+569XXXXXXXX)" #txtfono></ion-input>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-icon color="dark" name="lock-closed-sharp" class="icon-login"></ion-icon>
                            <ion-input  type="password" required placeholder="Contraseña" #txtPass></ion-input>
                          </ion-item>
                          <br>
                          <ion-item>
                            <ion-icon color="dark" name="lock-closed-sharp" class="icon-login"></ion-icon>
                            <ion-input   type="password" required placeholder="Confirmar Contraseña" #txtPass2></ion-input>
                          </ion-item>
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button (click)="agregar(txtUser, txtCorreo, txtfono, txtPass, txtPass2)" color="dark"   expand="full">
                        Registrar
                    </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
    </ion-slide>

