<ion-content>

  <ion-grid class="grid1">

      <ion-row class="row1">
          <ion-col>
            <ion-col class="img-container">
              <img src="assets/img/logo.png">
            </ion-col>
          </ion-col>
      </ion-row>

      <ion-row class="row2">
          <ion-col>

          </ion-col>
      </ion-row>

  </ion-grid>
  <ion-slide>
    <div class="contaier-login">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h1>Lista de Trabajos</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <ion-list>
                    <ion-list>
                      <ion-item>
                        <ion-label  routerLink="/lista">09:00 hrs</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label  routerLink="/lista">10:00 hrs</ion-label>
                      </ion-item>
                      
                    </ion-list>
                
                  </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
  </ion-slide>
