.grid1 {
    height: 100%;
    padding: 0px;
  }
  
  .contaier-login {
    width: 90%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  }
  
  
  .row1 {
    height: 50%;
    background: -moz-linear-gradient(45deg, rgb(17, 169, 176) 0%, rgba(17, 170, 179, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(17, 170, 178, 1) 0%, rgba(17, 172, 180, 0.8) 100%);
    background: linear-gradient(45deg, rgba(17, 169, 180, 1) 0%, rgba(17, 178, 180, 0.8) 100%);
  }
  
  .row2 {
    height: 50%;
  
  }
  
  ion-icon {
    margin-right: 15px;
  }
  
  ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
  }
  
  ion-text {
    text-align: center;
    color:gray;
  }
  
  .img-container{
    width: auto;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 190px;
    height: flex;
  }
  
  .ion-datetime{
    justify-content: center;
    align-items: center;
  }
  